* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  text-align: center;
}
#main {
  background-color: lightgray;
}
#title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.center {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}
img {
  max-width: 50%;
  display: block;
  margin: auto;
}
#img-caption {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2rem;
}
#tribute-info {
  max-width: 600px;
  margin: auto;
  text-align: justify;
}
#tribute-info > h2 {
  text-align: center;
  margin: 2rem auto;
}
#tribute-info ul {
  list-style-type: square;
  margin: 2.5rem 0;
}
#tribute-info ul li {
  margin: 1rem 0;
}
.section-prgh-1 {
  margin-top: 2.5rem;
}
.read-further-parag {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
